*
{
    margin: 0;
    padding: 0;
}
.headsection
{
    margin-top: 10px;
    
}


div ul li a{
    text-decoration: none;
    color: white;
}

.row > div 
{
    margin-left: 10%;
    margin-right: 10%;
    /* border: 2px solid royalblue; */
    height: auto;
}
.col-md-3,.col-md-4{
    margin-top: 80px;
}
i{
    font-size: 70px;
    margin: 15px;
}
footer{
    margin-top: 30px;
    padding-top: 50px;}